{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <br/>
        {% if message %}
            <h2 class="title">{{ message }}</h2>
            <form action="" method="post">
                {% include "partial/form.html" with button_text="Add" %}
            </form>
            <br/>
        {% else %}
            <h2 class="title">Добавить рекомендацию</h2>
            <form action="" method="post">
                {% include "partial/form.html" with button_text="Добавить" %}
            </form>
            <br/>
        {% endif %}
    </div>

{% endblock %}