{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="container mt-4 mb-4">
            <h2 class="title tournament-title">
                Турнир: <input type="text" name="{{ form1.Name.name }}" value="{{ form1.Name.value }}"
                       size="{{ form1.Name.value|length }}">
            </h2>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Количество раундов:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.NumberOfRounds }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Размер доски:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.Boardsize }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Дата:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.date }}</p>
                    </div>
                </div>
                <div class="form-row" id="country_p_id" data-country-code="{{ tournament.country }}"
                     data-get-regions-link="{% url 'api_v1:get_regions' %}">
                    <div class="form-label-col">
                        <p class="form-label">Страна:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.country }}</p>
                    </div>
                </div>
                <div class="form-row" id="region_p_id" data-region-id="{{ tournament.region }}"
                     data-get-cities-link="{% url 'api_v1:get_cities' %}">
                    <div class="form-label-col">
                        <p class="form-label">Регион:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.region }}</p>
                    </div>
                </div>
                <div class="form-row" id="city_p_id" data-city-id="{{ tournament.city }}">
                    <div class="form-label-col">
                        <p class="form-label">Город:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.city }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Класс:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.tournament_class }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Регламент:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.regulations }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-col">
                        <p class="form-label">Локация:</p>
                    </div>
                    <div class="form-value-col">
                        <p class="form-value">{{ form1.location }}</p>
                    </div>
                </div>
                <p>{{ form1.uploaded_by.as_hidden }}</p>
            </div>

            {% if form1_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1_errors }}
            </div>
            {% endif %}

            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">EgdPin</th>
                            <th scope="col">Участник</th>
                            <td scope="col">Клуб</td>
                            <th scope="col">Дата рождения</th>
                            <th scope="col">Ранг</th>
                            <th scope="col">Рейтинг</th>
                            <th scope="col">Место</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ form2.management_form }}
                        {% for player_form in form2 %}

                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ player_form.EgdPin}}</td>
                                <td>{{ player_form.Surname }} {{ player_form.FirstName }}</td>
                                <td>{{ player_form.Club }}</td>
                                <td>{{ player_form.birth_date }}</td>
                                <td>{{ player_form.GoLevel }}</td>
                                <td>{{ player_form.Rating }}</td>
                                <td>{{ player_form.position }}</td>
                                <td>{{ player_form.results.as_hidden }}</td>
                                <td>{{ player_form.id_in_tournament.as_hidden }}</td>
                            </tr>

                        {% endfor %}
                        {% if form2_errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ form2_errors.non_form_errors }}
                        {% for errors in form2_errors %}
                            {{ errors.as_ul }}
                        {% endfor %}
                            </div>
                        {% endif %}
                    </tbody>
                </table>

                <p class="mt-4"><input class="btn" style="background: #9400D3;color: white;" type="submit" value="Подтвердить"></p>
                <!-- Открывает модалку подтверждения -->
                {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-outline-secondary kgf_modal mb-5" data-bs-toggle="modal"
                    data-bs-target="#delete_tournament_Modal">Удалить</button>
                {% endif %}
            </div>
        </div>
    </form>


    <!-- Модалка подтверждения -->
    <div class="modal fade" id="delete_tournament_Modal" tabindex="-1" aria-labelledby="delete_tournament_ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="delete_tournament_ModalLabel">Подтвердите удаление</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет</button>
                    <form method="POST" id="modal_form_link" action="{% url 'webapp:delete_tournament_on_moderation' pk %}">
                        {% csrf_token %}<input type="submit" id="confirm_button" class="btn btn-outline-secondary" value="Да">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block src %}
    <script src="{% static "js/regions_n_cities_for_moderation_detail.js" %}"></script>
{% endblock %}
