{% extends 'base.html' %}

{% block title %}Модерация турниров{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}

    <div class="container">
    <br/>
    <h1 class="title">Турниры на модерации</h1>
        {% load static %}
<table class="table adaptive">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Дата</th>
        <th scope="col">Город</th>
        <th scope="col">Класс</th>
        <th scope="col">Загружено</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td data-label="#{{ page_obj.start_index|add:forloop.counter0 }}">{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td data-label="Название"><a style="color: black"
                   href="{% url "webapp:tournament_detail" tournament.pk %}">{{ tournament.name }}</a></td>
            {% if tournament.date %}
                <td data-label="Дата">{{ tournament.date|date:"d-m-Y" }}</td>
            {% else %}
                <td data-label="Дата"></td>
            {% endif %}
            <td data-label="Город">{{ tournament.city.city }}</td>
            {% if tournament.tournament_class == "all" %}
                <td data-label="Класс"></td>
            {% else %}
                <td data-label="Класс">{{ tournament.tournament_class }}</td>
            {% endif %}
            <td data-label="Загружено">{{ tournament.uploaded_by }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{##}
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <br/>
{% endblock %}
