{% extends 'base.html' %}

{% block title %}Модерация турниров{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}

    <div class="container">
    <br/>
    <h2 class="title">Турниры на модерации</h2>
        {% load static %}
<table class="table adaptive">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Загружено</th>
        <th scope="col">Автор</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for tournament in tournaments %}
        <tr id="tr-{{ tournament.pk }}">
            <td data-label="#{{ page_obj.start_index|add:forloop.counter0 }}">{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td data-label="Название">{{ tournament.name }}</td>
            <td data-label="Дата">{{ tournament.created_at|date:"d-m-Y" }}</td>
            <td data-label="Загружено">{{ tournament.uploaded_by }}</td>
            <td>
                <button class="btn btn-outline-secondary"><a style="text-decoration: none; color: gray" href="{% url "webapp:tournament_moderation_detail" tournament.pk %}">Подробнее</a></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{##}
    </div>
{% if messages %}
  {% for message in messages %}
    <div style="width: 500px; margin-left: 30%" class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
</div>
 {% endfor %}
{% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <br/>
{% endblock %}
{% block src %}
    <script src="{% static "js/moderation_tour.js" %}"></script>
{% endblock %}