{% extends 'base.html' %}

{% block title %}Поиск Турнира{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
    {% if error %}
        <div class="form-error text-center mt-3" style="color: red">{{ error }}</div>
    {% endif %}

    <div class=" mt-4" style="text-align: center;">
        <h2 class="title">Поиск турнирa:</h2>
    </div>

    <form style="display: flex;justify-content: center;text-align: center;" action="" method="GET">
        <div style="display: inline-block;justify-content:center;border-style: solid; border-radius: 30px;border-color: #9400D3;border-width: 1px;width: 500px; margin: 5px; padding: 30px">
            <div style="display: flex;justify-content: center;">
                {{ form.search_name }}
            </div>
            <br/>
            <div style="display: flex; justify-content: center;">
                {{ form.search_city }}
            </div>
            <br/>
            <div style="display: flex; justify-content: center;">
                {{ form.search_date }}
            </div>
            <br/>
            <div style="display: flex; justify-content: center;">
                {{ form.search_tournament_class }}
            </div>
            <br/>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn ms-1" style="background-color: #9400D3; color: white" value="Поиск">
            </div>
            {% for error in form.search.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </form>
    <br/>
    <div class="container">
        {% include 'partial/tournament_list.html' %}
    </div>

    <br/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <br/>
{% endblock %}
