{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}

    <div class="container">
        <div>
            <h2>Tournament: {{ tournament.name }}</h2>
            {% if tournament.date and tournament.city and tournament.tournament_class and tournament.regulations  %}
                <p>Date: {{ tournament.date }}</p>
                <p>City: {{ tournament.city }}</p>
                <p>Class: {{ tournament.tournament_class }}</p>
                <p>Regulations: {{ tournament.regulations|linebreaks }}</p>
            {% else %}
{#                {{ tournament_form.as_p }}#}
                <p>Date: {{ tournament_form.date }}</p>
                <p>City: {{ tournament_form.city }}</p>
                <p>Class: {{ tournament_form.tournament_class }}</p>
                <p>Regulations: {{ tournament_form.regulations }}</p>
                <p>{{ tournament_form.uploaded_by.as_hidden }}</p>
            {% endif %}
            <p>Number of players: {{ tournament.player_set.count }}</p>
            <p>Rounds: {{ tournament.rounds }}</p>
            <p>Board size: {{ tournament.board_size }}</p>
        </div>

    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">EgdPin</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Club</th>
                <th scope="col">GoLevel</th>
                <th scope="col">Wins</th>
                <th scope="col">Loses</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% if player.EgdPin is not 0 %}
                        <td>{{ player.EgdPin }}{{ player_form.EgdPin.as_hidden }}</td>
                    {% else %}
                        <td>{{ player_form.EgdPin }}</td>
                    {% endif %}
                    <td><a style="color: black;"
                           href="{% url "webapp:player_detail" player.pk %}">{{ player.last_name }}</a></td>
                    <td>{{ player.first_name }}</td>
                    {% if player.birth_date is not None %}
                        <td>{{ player.birth_date }}{{ player_form.birth_date.as_hidden }}</td>
                    {% else %}
                        <td>{{ player_form.birth_date }}</td>
                    {% endif %}
                    {% for data in player.playerintournament_set.all %}
                        {% if data.tournament_id == tournament.pk %}
                            {% if data.club is not None %}
                                 <td>{{ data.club.name }}</td>
                                {% else %}
                                <td>Not a member of club</td>
                            {% endif %}
                            <td>{{ rate.GoLevel }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for winner in wins %}
                        {% if player.pk == winner.player %}
                            <td>{{ winner.wins }}</td>
                            <td>{{ winner.losses }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <p class="mt-4"><input class="btn" style="background: #9400D3;color: white;" type="submit" value="Confirm"></p>
    <a class="btn btn-danger mb-5" href="{% url 'webapp:file_upload' %}">Cancel</a>
    </div>
    </form>
{% endblock %}