{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {% for item in data %}
            {{ item }}
        {% endfor %}
        {% for key, value in data.items %}
            {% if key == 'Tournament' %}
                {{ key }}
                {{ value }}
            {% endif %}
        {% endfor %}

{#        <div class="container mt-4 mb-4">#}
{#            <div>#}
{#                <h2 class="title">Турнир: {{ tournament.name }}</h2>#}
{#                {% if tournament.date and tournament.city and tournament.tournament_class and tournament.regulations %}#}
{#                    <p>Дата: {{ tournament.date }}</p>#}
{#                    <p>Город: {{ tournament.city }}</p>#}
{#                    <p>Класс: {{ tournament.tournament_class }}</p>#}
{#                    <p>Регламент: {{ tournament.regulations|linebreaks }}</p>#}
{#                {% else %}#}
{#                    <p>Дата: {{ tournament_form.date }}</p>#}
{#                    <p>Город: {{ tournament_form.city }}</p>#}
{#                    <p>Класс: {{ tournament_form.tournament_class }}</p>#}
{#                    <p>Регламент: {{ tournament_form.regulations }}</p>#}
{#                    <p>{{ tournament_form.uploaded_by.as_hidden }}</p>#}
{#                {% endif %}#}
{#                <p>Количество участников: {{ tournament.player_set.count }}</p>#}
{#                <p>Количество раундов: {{ tournament.rounds }}</p>#}
{#                <p>Размер доски: {{ tournament.board_size }}</p>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="container">#}
{#            <table class="table">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th scope="col"></th>#}
{#                    <th scope="col">EgdPin</th>#}
{#                    <th scope="col">Участник</th>#}
{#                    <th scope="col">Дата рождения</th>#}
{#                    <th scope="col">Клуб</th>#}
{#                    <th scope="col">Ранг</th>#}
{#                    <th scope="col">Победы</th>#}
{#                    <th scope="col">Поражения</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for player in players %}#}
{#                    <tr>#}
{#                        <td>{{ forloop.counter }}</td>#}
{#                        {% if player.EgdPin is not 0 %}#}
{#                            <td>{{ player.EgdPin }}{{ player_form.EgdPin.as_hidden }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ player_form.EgdPin }}</td>#}
{#                        {% endif %}#}
{#                        <td>{{ player.last_name }} {{ player.first_name }}</td>#}
{#                        {% if player.birth_date is not None %}#}
{#                            <td>{{ player.birth_date }}{{ player_form.birth_date.as_hidden }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ player_form.birth_date }}</td>#}
{#                        {% endif %}#}
{#                        {% for data in player.playerintournament_set.all %}#}
{#                            {% if data.tournament_id == tournament.pk %}#}
{#                                {% if data.club is not None %}#}
{#                                    <td>{{ data.club.name }}</td>#}
{#                                {% else %}#}
{#                                    <td></td>#}
{#                                {% endif %}#}
{#                                <td>{{ data.GoLevel }}</td>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                        {% for winner in wins %}#}
{#                            {% if player.pk == winner.player %}#}
{#                                <td>{{ winner.wins }}</td>#}
{#                                <td>{{ winner.losses }}</td>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

            <p class="mt-4"><input class="btn" style="background: #9400D3;color: white;" type="submit" value="Подтвердить">
            </p>
        </form>
{#            <!-- Открывает модалку подтверждения -->#}
{#                    {% if request.user.is_authenticated %}#}
{#                        <button type="button" class="btn btn-outline-secondary kgf_modal mb-5" data-bs-toggle="modal"#}
{#                                data-bs-target="#delete_tournament_Modal">#}
{#                            Удалить#}
{#                        </button>#}
{#                    {% endif %}#}
{#                    <!-- Модалка подтверждения -->#}
{#                    <div class="modal fade" id="delete_tournament_Modal" tabindex="-1"#}
{#                         aria-labelledby="delete_tournament_ModalLabel"#}
{#                         aria-hidden="true">#}
{#                        <div class="modal-dialog modal-dialog-centered">#}
{#                            <div class="modal-content">#}
{#                                <div class="modal-header">#}
{#                                    <h3 class="modal-title fs-5" id="delete_tournament_ModalLabel">Подтвердите удаление</h3>#}
{#                                    <button type="button" class="btn-close" data-bs-dismiss="modal"#}
{#                                            aria-label="Close"></button>#}
{#                                </div>#}
{#                                <div class="modal-footer">#}
{#                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">#}
{#                                        Нет#}
{#                                    </button>#}
{#                                    <form method="POST" id="modal_form_link"#}
{#                                          action="{% url 'webapp:delete_tournament' tournament.pk %}">#}
{#                                        {% csrf_token %}<input type="submit" id="confirm_button"#}
{#                                                               class="btn btn-outline-secondary"#}
{#                                                               value="Да">#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#    </div>#}

{% endblock %}