{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container mb-4 mt-4">
        <div class="mb-4">
            <h2 class="title">Турнир: {{ tournament.name }}</h2>
            <p>Дата: {{ tournament.date }}</p>
            <p>Место проведения: {{ tournament.country.get_name }},
                {% if tournament.region %}
                    {{ tournament.region }},
                {% endif %}
                {% if tournament.city %}
                    г.{{ tournament.city }}
                {% endif %}
                {% if tournament.location %}
                    {{ tournament.location }}</p>
                {% endif %}
            <p>Число участников: {{ tournament.player_set.count }}</p>
            <p>Раунды: {{ tournament.rounds }}</p>
            <p>Размер доски: {{ tournament.board_size }}</p>
            <p>Класс: {{ tournament.tournament_class }}</p>
            <p>Регламент: {{ tournament.regulations|linebreaks }}</p>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <h3 class="title">Список участников:</h3>
        <table class="table rwd-table adaptive">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">EgdPin</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Клуб</th>
                <th scope="col">Ранг</th>
                <th scope="col">Победы</th>
                <th scope="col">Поражения</th>
                {% for round in list_of_rounds %}
                    <th scope="col">{{ round }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for el in players %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td data-label="EgdPin">{{ el.player.EgdPin }}</td>
                    <td data-label="Last Name"><a style="color: black"
                                                  href="{% url "webapp:player_detail" el.player.pk %}">{{ el.player.last_name }}</a>
                    </td>
                    <td data-label="First Name">{{ el.player.first_name }}</td>
                    {% if el.club %}
                        <td data-label="Club">{{ el.club.name }}</td>
                    {% else %}
                        <td data-label="Club"></td>
                    {% endif %}
                    <td data-label="Rank">{{ el.GoLevel }}</td>
                    {% for winner in wins %}
                        {% if el.player.pk == winner.player %}
                            <td data-label="Wins">{{ winner.wins }}</td>
                            <td data-label="Losses">{{ winner.losses }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for result in el.results %}
                        <td data-label="result"
                            style="color: {{ result.font_color }}">{{ result.result_to_display }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{##}