{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container mb-4 mt-4">
        <div class="mb-4">
            <h2 class="title">Турнир: {{ tournament.name }}</h2>
            <p>Date: {{ tournament.date }}</p>
            <p>City: {{ tournament.city }}</p>
            <p>Number of participants: {{ tournament.player_set.count }}</p>
            <p>Rounds: {{ tournament.rounds }}</p>
            <p>Board size: {{ tournament.board_size }}</p>
            <p>Class: {{ tournament.tournament_class }}</p>
            <p>Regulations: {{ tournament.regulations }}</p>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <h3 class="title">Список участников:</h3>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
                <th scope="col">Patronymic</th>
                <th scope="col">Club</th>
                <th scope="col">Rank</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
            </tr>
            </thead>
            <tbody>
            {% if sorted_players %}
                {% for el in sorted_players %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    <td><a style="color: black"
                           href="{% url "webapp:player_detail" el.player.pk %}">{{ el.player.last_name }}</a></td>
                    <td>{{ el.player.first_name }}</td>
                    {% if el.player.patronymic is not None %}
                        <td>{{ el.player.patronymic }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if el.player.clubs.all %}
                        {% for club in el.player.clubs.all %}
                            <td>{{ club.name }}</td>
                        {% endfor %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ el.GoLevel }}</td>
                    {% for winner in wins %}
                        {% if el.player.pk == winner.player %}
                            <td>{{ winner.wins }}</td>
                            <td>{{ winner.losses }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endif %}
            {% if players_with_rate_k %}

            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{##}