{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container mb-4 mt-4">
        <div class="mb-4">
            <h2 class="title">Турнир на модерации: {{ tournament.Name }}</h2>
            <p>Дата: {{ tournament.date }}</p>
            <p>Город: {{ tournament.city }}</p>
            <p>Место проведения: {{ tournament.location }}</p>
            <p>Раунды: {{ tournament.NumberOfRounds }}</p>
            <p>Размер доски: {{ tournament.Boardsize }}</p>
            <p>Класс: {{ tournament.tournament_class }}</p>
            <p>Регламент: {{ tournament.regulations|linebreaks }}</p>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <h3 class="title">Список участников:</h3>
        <table class="table rwd-table adaptive">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">EgdPin</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Клуб</th>
                <th scope="col">Ранг</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Дата рождения</th>
            </tr>
            </thead>
            <tbody>
                {% for el in players %}
                <tr>
                    <th scope="row">{{ el.position }}</th>
                    <td data-label="EgdPin">{{ el.EgdPin }}</td>
                    <td data-label="Last Name">{{ el.Surname }}</td>
                    <td data-label="First Name">{{ el.FirstName }}</td>
                    {% if el.Club %}
                        <td data-label="Club">{{ el.Club }}</td>
                    {% else %}
                        <td data-label=Club"></td>
                    {% endif %}
                    <td data-label="Rank">{{ el.GoLevel }}</td>
                    <td data-label="Rating">{{ el.Rating }}</td>
                    {% if el.birth_date %}
                        <td data-label="Birthday">{{ el.birth_date }}</td>
                    {% else %}
                        <td data-label="Birthday">Не указано</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
     <a class="btn btn-outline-secondary" href={% url "webapp:confirm_tournament" pk %}>Submit</a>
    </div>
{% endblock %}

