{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}
{% load thumbnail %}


{% block content %}
{#    <div class=" py-4 h-100">#}
{#    <div class="row d-flex justify-content-center align-items-center h-100">#}
{#      <div>#}
{#        <div class="">#}
{#          <div class="rounded-top text-white d-flex flex-row" style="background-color: #422663; height:200px;">#}
{#              <div class="col col-sm-12 col-md-6 col-lg-4">#}
{#                <div class="ms-4 mt-5 d-flex flex-column" style="width: 250px;">#}
{#                    {% if club.logo %}#}
{#                        {% thumbnail club.logo "500x500" crop="center" as im %}#}
{#                            <img style="width: 250px; z-index: 1; border: solid; border-color: grey; border-width: 1px" src="{{ im.url }}" alt="logo"#}
{#                             class="img-fluid img-thumbnail mt-4 mb-2">#}
{#                        {% endthumbnail %}#}
{#                    {% else %}#}
{#                        <img  style="width: 250px; z-index: 1; border: solid; border-color: grey; border-width: 1px;"#}
{#                             src="{% static "images/no_image.jpg" %}" alt="no_logo_pic" class="img-fluid img-thumbnail mt-4 mb-2">#}
{#                    {% endif %}#}
{#                    {% if request.user.is_authenticated%}#}
{#                        <a style="z-index: 1;border: 1px grey solid;" class="btn btn-light mt-2" href="{% url "webapp:club_update" club.pk %}">Редактировать#}
{#                                     клуб</a>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col col-sm-12 col-md-6 col-lg-4">#}
{#                <div class="ms-3" style="margin-top: 130px;">#}
{#                  <h5>{{ club.name }}</h5>#}
{#                    {% if club.EGDName %}#}
{#                        <p>{{ club.EGDName }}</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#          </div>#}
{#        <div class="col col-md-12 col-lg-12">#}
{#          <div class="text-black col-sm-12 col-md-12 col-lg-12 about-club" style="background-color: #f8f9fa;padding: 70px;">#}
{#            <div class="d-flex justify-content-end text-center py-1 ">#}
{#            {% if  club.city %}#}
{#              <div>#}
{#                <p class="mb-1 h5">{{ club.city }}</p>#}
{#                <p class="small text-muted mb-0">Город</p>#}
{#              </div>#}
{#            {% endif %}#}
{#              <div class="px-3">#}
{#                <p class="mb-1 h5">{{ club.players.count }}</p>#}
{#                <p class="small text-muted mb-0">Игроков</p>#}
{#              </div>#}
{#              <div>#}
{#                <p class="mb-1 h5">{{ average }}</p>#}
{#                <p class="small text-muted mb-0">Средний ранг</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#          <div class="card-body p-4 text-black">#}
{#            <div class="mb-5">#}
{#              <p class="lead fw-normal mb-1">О клубе</p>#}
{#              <div class="p-4" style="background-color: #f8f9fa;">#}
{#                {% if club.num_players %}#}
{#                    <p class="mb-1">Число участников: {{ club.num_players }}</p>#}
{#                {% endif %}#}
{#                {% for coach in club.coaches.all %}#}
{#                    <p class="mb-1">Тренера: <a style="color: black;" href="{% url 'accounts:detail' coach.pk %}">{{ coach.username }}</a></p>#}
{#                {% endfor %}#}
{#                {% if club.address %}#}
{#                    <p class="mb-1">Адрес: {{ club.address }}</p>#}
{#                {% endif %}#}
{#                {% if club.phonenumber %}#}
{#                    <p class="mb-1">Телефон: {{ club.phonenumber }}k</p>#}
{#                {% endif %}#}
{#                {% if club.web_link %}#}
{#                    <p class="mb-1">Web-site: <a style="color: black;" href="{{ club.web_link }}">{{ club.web_link }}</a></p>#}
{#                {% endif %}#}
{#                {% if club.schedule %}#}
{#                    <p class="mb-1">Рабочие часы: {{ club.schedule }}</p>#}
{#                {% endif %}#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-12 col-sm-12 col-">#}
{#                {% include "partial/club_chart.html" %}#}
{#            </div>#}
{#            <div class="container mt-4 mb-4">#}
{#                <h3 class="title">Список участников:</h3>#}
{#                <div class="container">#}
{#                    {% include 'partial/player_list.html' %}#}
{##}
{#                {% if is_paginated %}#}
{#                    {% include 'partial/pagination.html' %}#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


    <div class="container mb-4 mt-4">
        <div class="rounded-top " >
            <div class="row">

                <div class="col-12 col-sm-12 col-md-5 col-lg-4 ">

                    <div class="d-flex flex-column" style="width: 250px;margin: 0 auto;">
                        {% if club.logo %}
                            {% thumbnail club.logo "500x500" crop="center" as im %}
                                <img style="width: 250px; z-index: 1; border: solid; border-color: grey; border-width: 1px" src="{{ im.url }}" alt="logo"
                                 class="img-fluid img-thumbnail">
                            {% endthumbnail %}
                        {% else %}
                            <img  style="width: 250px; z-index: 1; border: solid; border-color: grey; border-width: 1px;"
                                 src="{% static "images/no_image.jpg" %}" alt="no_logo_pic" class="img-fluid img-thumbnail">
                        {% endif %}
                        {% if request.user.is_authenticated%}
                            <a style="z-index: 1;border: 1px grey solid;" class="btn btn-light mt-2" href="{% url "webapp:club_update" club.pk %}">Редактировать
                                         клуб</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-4 mt-5 text-center">
                    <h3 class="">{{ club.name }}</h3>
                    <div class="d-flex flex-row mt-5 mb-4 text-center justify-content-center">
                        {% if  club.city %}
                          <div>
                            <p class="mb-1 h5">{{ club.city }}</p>
                            <p class="small text-muted mb-0">Город</p>
                          </div>
                        {% endif %}
                          <div class="px-3">
                            <p class="mb-1 h5">{{ club.players.count }}</p>
                            <p class="small text-muted mb-0">Игроков</p>
                          </div>
                          <div>
                            <p class="mb-1 h5">{{ average }}</p>
                            <p class="small text-muted mb-0">Средний ранг</p>
                          </div>
                    </div>
                </div>

                </div>


            <div>
                <div class="mb-5 mt-4">
                  <p class="lead fw-normal mb-1">О клубе</p>
                  <div class="p-4" style="background-color: #f8f9fa;">
                    {% if club.num_players %}
                        <p class="mb-1">Число участников: {{ club.num_players }}</p>
                    {% endif %}
                    {% for coach in club.coaches.all %}
                        <p class="mb-1">Тренера: <a style="color: black;" href="{% url 'accounts:detail' coach.pk %}">{{ coach.username }}</a></p>
                    {% endfor %}
                    {% if club.address %}
                        <p class="mb-1">Адрес: {{ club.address }}</p>
                    {% endif %}
                    {% if club.phonenumber %}
                        <p class="mb-1">Телефон: {{ club.phonenumber }}k</p>
                    {% endif %}
                    {% if club.web_link %}
                        <p class="mb-1">Web-site: <a style="color: black;" href="{{ club.web_link }}">{{ club.web_link }}</a></p>
                    {% endif %}
                    {% if club.schedule %}
                        <p class="mb-1">Рабочие часы: {{ club.schedule }}</p>
                    {% endif %}
                  </div>
                </div>
            </div>
        <div class="col-12">
            {% include "partial/club_chart.html" %}
        </div>
    </div>


                {% if request.user.is_authenticated%}
                    <a class="btn btn-light mt-2" href="{% url "webapp:club_update" club.pk %}">Редактировать
                                 клуб</a>
                {% endif %}
        </div>
    </div>


    <div class="container mt-4 mb-4">
    <h3 class="title">Список участников:</h3>
    <div class="container">
        {% include 'partial/player_list.html' %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    </div>
    </div>

{% endblock %}