{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}
{% load thumbnail %}


{% block content %}
    <div class="container mb-4 mt-4">
        <div class="rounded-top ">
            <div class="row boxShadow" >

                <div class="col-12 col-sm-12 col-md-5 col-lg-4" style="padding:0px;">

                    <div class="d-flex flex-column" style="width: 100%;margin: 0 auto;">
                        {% if club.logo %}
                            {% thumbnail club.logo "500x500" crop="center" as im %}
                                <img style="width: 100%;border-right:1px solid rgba(190, 190, 190,0.5);"
                                     src="{{ im.url }}" alt="logo">
                            {% endthumbnail %}
                        {% else %}
                            <img style="width: 100%;border-right:1px solid rgba(190, 190, 190,0.5);"
                                 src="{% static "images/no_image.jpg" %}" alt="no_logo_pic">
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a style="z-index: 1;border:1px solid rgba(190, 190, 190,0.5);" class="btn btn-light rounded-0"
                               href="{% url "webapp:club_update" club.pk %}">Редактировать
                                клуб</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-8 text-center my-auto mx-0 p-0" >
                    <h3>{{ club.name }}</h3>
                    {% if club.EGDName %}
                        <p>{{ club.EGDName }}</p>
                    {% endif %}
                    <div class="d-flex flex-row mt-4 mb-4 text-center justify-content-center">
                        {% if  club.city %}
                            <div>
                                <p class="mb-1 h5">{{ club.city }}</p>
                                <p class="small text-muted mb-0">Город</p>
                            </div>
                        {% endif %}
                        <div class="px-3">
                            <p class="mb-1 h5">{{ club.players.count }}</p>
                            <p class="small text-muted mb-0">Игроков</p>
                        </div>
                        <div>
                            <p class="mb-1 h5">{{ average }}</p>
                            <p class="small text-muted mb-0">Средний ранг</p>
                        </div>
                    </div>
                </div>

            </div>


            <div>
                {% if club.num_players or club.coaches.all or club.address or club.phonenumber or club.web_link or club.schedule %}
                    <div class="mb-5 mt-4">
                        <p class="lead fw-normal mb-1 ms-3">О клубе</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                            {% if club.num_players %}
                                <p class="mb-1">Число участников: {{ club.num_players }}</p>
                            {% endif %}
                            {% for coach in club.coaches.all %}
                                <p class="mb-1">Тренера: <a style="color: black;"
                                                            href="{% url 'accounts:detail' coach.pk %}">{{ coach.username }}</a>
                                </p>
                            {% endfor %}
                            {% if club.address %}
                                <p class="mb-1">Адрес: {{ club.address }}</p>
                            {% endif %}
                            {% if club.phonenumber %}
                                <p class="mb-1">Телефон: {{ club.phonenumber }}</p>
                            {% endif %}
                            {% if club.web_link %}
                                <p class="mb-1">Web-site: <a style="color: black;"
                                                             href="{{ club.web_link }}">{{ club.web_link }}</a></p>
                            {% endif %}
                            {% if club.schedule_from and club.schedule_to %}
                                <p class="mb-1">Рабочие часы: с {{ club.schedule_from }} до {{ club.schedule_to }}</p>
                            {% endif %}
                            {% if club.breakfast_from and club.breakfast_to %}
                                <p class="mb-1">Обед: с {{ club.breakfast_from }} до {{ club.breakfast_to }}</p>
                            {% endif %}
                            {% if club.days_of_work.all %}
                                <p class="mb-1">Рабочие дни:
                                    {% for days in club.days_of_work.all %}{{ days.name }}{% if forloop.last %}.
                                    {% else %}, {% endif %}{% endfor %}</p>
                            {% endif %}
                            {% if club.day_of_week.all %}
                                <p class="mb-1">Выходные:
                                    {% for days in club.day_of_week.all %}{{ days.name }}{% if forloop.last %}.
                                    {% else %}, {% endif %}{% endfor %}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="col-12">
                {% include "partial/club_chart.html" %}
            </div>
        </div>
    </div>
    </div>


    <div class="container mt-4 mb-4">
        <h3 class="title">Список участников:</h3>
        <div class="container">
            {% include 'partial/player_list.html' %}

            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}