<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
   class="btn btn-md rounded me-1" style="background-color: #9400D3; color: white">
    Возможности админа
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Доп. возможности админа</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Кнопка "возможности админа" видна только админу (superuser). Открывает возможность просмотреть скрытые от
            всех остальных страницы и дает возможность на определенные действия
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Страницы удаленных:
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'webapp:deleted_news_list' %}">Статей/новостей</a></li>
                <li><a class="dropdown-item" href="{% url 'webapp:deleted_calendar_list' %}">Ивентов(мероприятий и турниров)</a></li>
            </ul>
        </div>
    </div>
</div>