<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"
   class="btn btn-md rounded-0 button-hover" style="width: 100%;">
    Редактировать профиль
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Редактировать профиль</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Перейдя по кнопкам ниже, вы сможете либо отредактировать профиль - поменять свои персональные данные; или изменить пароль.
        </div>
        <div class="buttons mt-4">
            <a class="btn btn-secondary mb-1" href="{% url 'accounts:change' %}">Редактировать профиль</a>
            <a class="btn btn-secondary mb-1" href="{% url 'accounts:change_password' %}">Изменить пароль</a>
        </div>
    </div>
</div>