<div style="height: 350px;width: 350px;">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['{{ player_wins_stronger}} Побед над более сильными противниками',
          '{{ player_wins_weaker }} Побед над более слабыми противниками',
          '{{ player_losses_stronger }} Поражений от более сильных противников',
          '{{ player_losses_weaker }} Поражений от более слабых противников',
          '{{ player_wins_equal }} Побед над равными противниками',
          '{{ player_losses_equal }} Поражений от равных противников'
      ],
        datasets: [{
            data: [
                {{ player_wins_stronger}},
                {{ player_wins_weaker }},
                {{ player_losses_stronger }},
                {{ player_losses_weaker }},
                {{ player_wins_equal }},
                {{ player_losses_equal }}
            ],
            backgroundColor: [
                'rgb(113,193,80)',
                'rgb(240,133,61)',
                'rgb(167,31,145)',
                'rgb(5,106,176)',
                'rgb(249,239,74)',
                'rgb(247,57,67)'
            ],
            hoverOffset: 4
          }]
    },
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Всего:{{ all }} рейтинговых партий'
            },
            legend: {
                position: 'bottom',
                align:'start'
            }
        }
      }
  });
</script>