<div class="mx-auto" style="height: 350px;max-width: 340px;">
  <canvas id="myChart" class="chart-adaptive"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [
          '{{ player_wins_stronger}} Побед над более сильными противниками',
          '{{ player_wins_equal }} Побед над равными противниками',
          '{{ player_wins_weaker }} Побед над более слабыми противниками',
          '{{ player_losses_stronger }} Поражений от более сильных противников',
          '{{ player_losses_equal }} Поражений от равных противников',
          '{{ player_losses_weaker }} Поражений от более слабых противников',
      ],
        datasets: [{
            data: [
                {{ player_wins_stronger}},
                {{ player_wins_equal }},
                {{ player_wins_weaker }},
                {{ player_losses_stronger }},
                {{ player_losses_equal }},
                {{ player_losses_weaker }},
            ],
            backgroundColor: [
                'rgb(113,193,80)',
                'rgba(113,193,80,0.6)',
                'rgb(113,193,80,0.3)',
                'rgb(167,31,145)',
                'rgba(167,31,145,0.6)',
                'rgba(167,31,145,0.3)'
            ],
            hoverOffset: 4
          }]
    },
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Всего:{{ all }} рейтинговых партий'
            },
            legend: {
                position: 'bottom',
                align:'start'
            }
        }
      }
  });
</script>