<div style="max-width: 850px" class="mx-auto">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Все', '30k-21k', '22k-11k', '10k-6k', '5k-1k', '1d-5d', '6d-10d'],
      datasets: [{
        label: 'Количество игроков',
        data: [
            {{ all }},
            {{ under_21k }},
            {{ under_11k }},
            {{ under_6k }},
            {{ under_1k }},
            {{ under_5d }},
            {{ under_10d }}
        ],
        backgroundColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 205, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(64, 64, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>