{% load static %}
<table class="table">
    <thead>
    <tr>
        <th scope="col" class="header">Фамилия</th>
        <th scope="col" class="header">Имя</th>
        <th scope="col" class="header">Отчество</th>
        {% if request.user.is_authenticated %}
            <th scope="col" class="header">Возраст</th>
        {% endif %}
        <th scope="col" class="header">Клуб</th>
        <th scope="col" class="header">Rank</th>
        <th scope="col" class="header">Тотал турниров</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        {% for element in rank %}
            {% if player.pk == element.player %}
                <tr>
                    <td><a style="text-decoration: underline dotted ghostwhite; color: black;"
                           href="{% url "webapp:player_detail" player.pk %}">{{ player.last_name }}</a></td>
                    <td>{{ player.first_name }}</td>
                    {% if player.patronymic is not None %}
                        <td>{{ player.patronymic }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if player.clubs.all %}
                        {% for club in player.clubs.all %}
                            <td>{{ club.name }}</td>
                        {% endfor %}
                    {% else %}
                        <td>Не состоит в клубах</td>
                    {% endif %}
                    <td>{{ element.GoLevel }}</td>
                    <td>{{ player.get_total_tournaments }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>