{% csrf_token %}
{% load static %}

{#{{ form.as_p }}#}
{% for error in form.non_field_errors %}
    <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
       <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    {% for error in field.errors %}
        <p class="form-error text-danger">{{ error }}</p>
    {% endfor %}
    <p>{{ field }}</p>
{% endfor %}
{#<p><input class="btn" style="background: #9400D3;color: white;" type="submit" value="{{ button_text }}"></p>#}

<!-- Открывает модалку подтверждения -->
<button class="btn kgf_modal" data-bs-toggle="modal" data-bs-target="#myModal" style="background: #9400D3;color: white;"
        type="button">
    {{ button_text }}
</button>

<!-- Модалка подтверждения -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="myModalLabel">Точно {{ button_text }}?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет</button>
                <input type="submit" id="confirm_button" class="btn btn-outline-secondary" value="Да">
            </div>
        </div>
    </div>
</div>
