{% load static %}
<table class="table adaptive-t">
    <thead>
    <tr>
        <th scope="col">Турнир</th>
        <th scope="col">Дата</th>
        <th scope="col">Раунд</th>
        <th scope="col">Оппонент</th>
        <th scope="col">EGDPin</th>
        <th scope="col">Страна</th>
        <th scope="col">Клуб</th>
        <th scope="col">Ранг</th>
        <th scope="col">Цвет</th>
        <th scope="col">Результат</th>
    </tr>
    </thead>
    <tbody>
    {% for element in games %}
        <tr>
            <td data-label="Турнир">{{ element.tournament.name }}</td>
            <td data-label="Дата">{{ element.tournament.date }}</td>
            <td data-label="Раунд">{{ element.round }}</td>
            <td data-label="Оппонент"><a style="text-decoration: underline dotted ghostwhite; color: black;"
                   href="{% url "webapp:player_detail" element.opponent.pk %}">{{ element.opponent.last_name }} {{ element.opponent.first_name }}</a></td>
            <td data-label="EGDPin">{{ element.opponent.EgdPin }}</td>
            <td data-label="Страна">{{ element.opponent.country }}</td>
            <td data-label="Клуб">{{ element.club }}</td>
            <td data-label="Ранг">{{ element.rank }}</td>
            <td data-label="Цвет">{{ element.color}}</td>
            <td data-label="Результат">{{ element.result}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
