{% load static %}
<table class="table adaptive">
    <thead>
    <tr>
        <th scope="col">Турнир</th>
        <th scope="col">Дата</th>
        <th scope="col">Раунд</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Страна</th>
        <th scope="col">Клуб</th>
        <th scope="col">Ранг</th>
        <th scope="col">Цвет</th>
        <th scope="col">Результат</th>
    </tr>
    </thead>
    <tbody>
    {% for element in games %}
        <tr>
            <td>{{ element.tournament.name }}</td>
            <td>{{ element.tournament.date }}</td>
            <td>{{ element.round }}</td>
            <td><a style="text-decoration: underline dotted ghostwhite; color: black;"
                   href="{% url "webapp:player_detail" element.opponent.pk %}">{{ element.opponent.last_name }}</a></td>
            <td>{{ element.opponent.first_name }}</td>
            <td>{{ element.opponent.country }}</td>
            <td>{{ element.club }}</td>
            <td>{{ element.rank}}</td>
            <td>{{ element.color}}</td>
            <td>{{ element.result}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
