{% load static %}

{% for item in tournaments %}
    <div class="card">
      <div class="card-header">
        Турнир: {{ item.tournament.name }}  Дата проведения: {{ item.tournament.date }}
      </div>
      <div class="card-body">
          <p>Класс: {{ item.tournament.class }} </p>
            <p>Место проведения: {{ item.tournament.city }}</p>
          <p>Заявленный ранг: {{ item.rank_after }} </p>
          <p>GoR до турнира: {{ item.rating_before }}</p>
          <p>GoR после турнира: {{ item.rating_after }}</p>
        <table class="table adaptive-t">
            <thead>
                <tr>
                    <th scope="col">Раунд</th>
                    <th scope="col">GoR изменение</th>
                    <th scope="col">Цвет</th>
                    <th scope="col">Результат</th>
                    <th scope="col">Имя оппонента</th>
                    <th scope="col">Ранг</th>
                    <th scope="col">GoR</th>
                    <th scope="col">GoR изменение</th>
                </tr>
            </thead>
            <tbody>
                {% for element in evolution %}
                    {% if item.tournament.pk == element.tournament.pk %}
                        <tr>
                            <td data-label="Раунд">{{ element.round }}</td>
                            <td data-label="GoR изменение">{{ element.gor_change|floatformat:3 }}</td>
                            <td data-label="Цвет">{{ element.color }}</td>
                            <td data-label="Результат">{{ element.result }}</td>
                            <td data-label="Имя оппонента"><a style="text-decoration: underline dotted ghostwhite; color: black;"
                                   href="{% url "webapp:player_detail" element.opponent.pk %}">{{ element.opponent.last_name }} {{ element.opponent.first_name }}</a></td>
                            <td data-label="Ранг">{{ element.opponent_rank }}</td>
                            <td data-label="GoR">{{ element.opponent_rating }}</td>
                            <td data-label="GoR изменение">{{ element.opponent_gor_change|floatformat:3 }}</td>

                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
{% endfor %}

