{% load static %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Patronymic</th>
        {% if request.user.is_authenticated %}
            <th scope="col">Age</th>
        {% endif %}
        <th scope="col">Club</th>
        <th scope="col">Rank</th>
        <th scope="col">Tot/tournaments</th>
    </tr>
    </thead>
    <tbody>
    {% for el in players %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a style="text-decoration: underline dotted ghostwhite; color: black;"
                   href="{% url "webapp:player_detail" el.player.pk %}">{{ el.player.last_name }}</a></td>
            <td>{{ el.player.first_name }}</td>
            {% if el.player.patronymic is not None %}
                <td>{{ el.player.patronymic }}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if el.player.birth_date %}
                    <td>{{ el.player.get_age_date }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endif %}
            {% if el.player.clubs.all %}
                {% for club in el.player.clubs.all %}
                    <td>{{ club.name }}</td>
                {% endfor %}
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ el.GoLevel }}</td>

            <td>{{ el.player.get_total_tournaments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


