{% load static %}
<table class="table mt-4 mb-4">
    <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Возраст</th>
        <th scope="col">Клуб</th>
        <th scope="col">Rank</th>
        <th scope="col">Тотал турниров</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td><a style="text-decoration: underline dotted ghostwhite; color: black;" href="{% url "webapp:player_detail" player.pk %}">{{ player.last_name }}</a></td>
        <td>{{ player.first_name }}</td>
        {% if player.patronymic is not None %}
            <td>{{ player.patronymic }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if player.age is not None %}
            <td>{{ player.age }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if player.clubs.all  %}
            {% for club in player.clubs.all %}
                <td>{{ club.name }}</td>
            {% endfor %}
        {% else %}
            <td>Не состоит в клубах</td>
        {% endif %}
        {% for element in rank %}
            {% if player.pk == element.player %}
            <td>{{ element.GoLevel }}</td>
            {% endif %}
        {% endfor %}
            <td>{{ player.get_total_tournaments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


