{% load static %}

<table class="table">
    <thead>
    <tr>
        <th scope="col" class="header">Номер</th>
        <th scope="col" class="header">Дата</th>
        <th scope="col" class="header">Название</th>
        <th scope="col" class="header">Город</th>
        <th scope="col" class="header">Страна</th>
        <th scope="col" class="header">Партия</th>
        <th scope="col" class="header">Раунды</th>
        <th scope="col" class="header">Класс</th>
        <th scope="col" class="header">Загружено</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if tournament.date %}
                <td>{{ tournament.date }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td><a href="{% url "webapp:tournament_detail" tournament.pk %}"
                   class="text-decoration-none link-dark">{{ tournament.name }}</a></td>
            <td>{{ tournament.city.city }}</td>
            <td>{{ tournament.city.country.country_code.upper }}</td>
            <td>{{ tournament.board_size }}</td>
            <td>{{ tournament.rounds }}</td>
            {% if tournament.tournament_class == "all" %}
                <td></td>
            {% else %}
                <td>{{ tournament.tournament_class }}</td>
            {% endif %}
            <td>Даврон Юлдашев</td>
        </tr>
    {% endfor %}
    </tbody>
</table>