{% load static %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">B/size</th>
        <th scope="col">Rnds</th>
        <th scope="col">Class</th>
        <th scope="col">Uploaded by</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a style="color: black"
                   href="{% url "webapp:tournament_detail" tournament.pk %}">{{ tournament.name }}</a></td>
            {% if tournament.date %}
                <td>{{ tournament.date }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ tournament.city.city }}</td>
            <td>{{ tournament.city.country.country_code.upper }}</td>
            <td>{{ tournament.board_size }}</td>
            <td>{{ tournament.rounds }}</td>
            {% if tournament.tournament_class == "all" %}
                <td></td>
            {% else %}
                <td>{{ tournament.tournament_class }}</td>
            {% endif %}
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{##}