{% load static %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Дата</th>
        <th scope="col">Город</th>
        <th scope="col">Страна</th>
        <th scope="col">Доска</th>
        <th scope="col">Раунды</th>
        <th scope="col">Класс</th>
        <th scope="col">Загружено</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="Название"><a style="color: black"
                   href="{% url "webapp:tournament_detail" tournament.pk %}">{{ tournament.name }}</a></td>
            {% if tournament.date %}
                <td data-label="Дата">{{ tournament.date }}</td>
            {% else %}
                <td data-label="Дата"></td>
            {% endif %}
            <td data-label="Город">{{ tournament.city.city }}</td>
            <td data-label="Страна">{{ tournament.city.country.country_code.upper }}</td>
            <td data-label="Размер доски">{{ tournament.board_size }}</td>
            <td data-label="Раунды">{{ tournament.rounds }}</td>
            {% if tournament.tournament_class == "all" %}
                <td data-label="Раунды"></td>
            {% else %}
                <td data-label="Класс">{{ tournament.tournament_class }}</td>
            {% endif %}
            <td data-label="Загружено">{{ tournament.uploaded_by }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{##}