{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="our_mission">
            <h2>Наша миссия</h2>
            <p>The best brands combine physical, emotional, and logical elements into one exceptional customer (and
                employee) experience that you value as much as they do. A good mission statement will not only explain
                your
                brand’s purpose, but will also foster a connection with customers.</p>
        </div>

        <div class="go_and_kgf">

            <div class="about_go">
                <h2>Игра Го</h2>
                <p>Го - одна из самых популярных настольных стратегических игр Японии, Кореи и Китая, которая
                    превосходит
                    шахматы простой правил, не уступая в богатстве фантазии, тактик и стратегий.
                    Правила игры очень просты. Играют два игрока, один черными камнями, другой белыми. Цель — огородить
                    на
                    доске камнями своего цвета большую территорию, чем противник.
                    Факты про игру императоров👑
                    В Го играет более 50 млн людей по всему миру
                    Профессионалы зарабатывают до 1млн долларов в год
                    В шахматах после четвертого хода может возникнуть около ста тысяч позиций. В Го — более 16
                    миллиардов.</p>
            </div>
            <div class="about_kgf">
                <h2>Кыргызская Федерация Го</h2>
                <p>
                    Текст про историю го в Кыргызстане, про историю федерации и истории клубов. Текст про историю го в
                    Кыргызстане, про историю федерации и истории клубов. Текст про историю го в Кыргызстане, про историю
                    федерации и истории клубов. Текст про историю го в Кыргызстане, про историю федерации и истории
                    клубов.
                    Текст про историю го в Кыргызстане, про историю федерации и истории клубов. Текст про историю го в
                    Кыргызстане, про историю федерации и истории клубов.
                </p>
            </div>

        </div>

        <div class="partners">
            <h2>Наши партнеры</h2>
            <p>IT-Academy</p>
            <p>IT-Attractor</p>
        </div>

        <div class="contact_info">
            <h2>Контакты</h2>
            <p>Адрес: г.Бишкек, ул. Табышалиева 29</p>
            <p>Тел.: +996 (778) 381 785</p>
        </div>

    </div>
{% endblock %}