{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5 mb-5">
        <div>
            <p><b>Кыргызская Го Федерация</b> или <b>КГФ</b> — организация Общественное Объединение , являющаяся общереспубликанской
                спортивной федерацией по виду спорта го и отвечает за развитие Го на территории Кыргызстана,
                в частности за проведение Чемпионатов Кыргызстана по Го и других крупных общереспубликанских соревнований.
            </p>
            <h3 class="title mt-4 mb-0 pb-2">Информация об организации</h3>
            <p>Кыргызская Го Федерация официально зарегистрирована в Министерстве Юстиции Кыргызской Республики - 19 апреля 2022 года.
            Устав КГФ был утверждён 22 декабря 2021 года. Согласно уставу целью КГФ является популяризация игры Го в Кыргызстане,
            популяризация игры Го и ведения здорового образа жизни. Одним из направлений работы является создание и поддержка региональных
            го-организаций и подразделений.</p>
            <p>Ежегодно КГФ проводит Чемпионаты Кыргызстана по Го (включая женский, юношеский, парный чемпионаты), Региональные Чемпионаты,
            Международный Кубок Issyk-Kul Cup, а также общереспубликанские соревнования при поддержке азиатских посольств и консульств,
            такие как Кубок Посла Японии, Кубок посла Кореи и другие. В целях популяризации ежемесячно проводятся открытые мастер-классы по Го,
            летние и зимние лагеря, а также Фестивали игры Го с погружение в азиатские культуры Китая, Кореи и Японии. Также КГФ обеспечивает
            пересчёт рейтингов кыргызстанских игроков, ведет учет и присвоение спортивных разрядов и званий, а также судейских категорий. КГФ
                является членом Международной федерации го и Европейской Федерации Го.</p>
            <h3 class="title mt-4 mb-0 pb-2">Президенты КГФ</h3>
            <p><strong>Юлдашев Даврон Мирзахматович</strong> — Президент Кыргызской Го Федерации; 2022 — по наст.время.<p>
            <p>В настоящее время развитие игры Го как спорта в Кыргызстане проводится благодаря работе официальной Го-организации “Кыргызская Го Федерация”,
            которая включает в себя более 10 Го-клубов с более чем 350 игроков.</p>

            <h3 class="title mt-4 mb-0 pb-2">О базе данных Kyrgyz Go Database</h3>
            <p>KGD — это проект, цель которого — предоставить кыргызстанскому Го-сообществу доступную для просмотра базу данных,
                содержащую данные обо всех турнирах, сыгранных в Кыргызстане.</p>
            <p>Результаты турниров размещаются в KGD непосредственно руководителями турниров. Для этого существует специальный
                доступ KGD-Admin, где каждый, кто занимается организацией турниров для клубов и стран, может подать заявку на
                получение учетной записи пользователя.</p>
            <p>После входа в систему эти пользователи могут публиковать данные турниров, а также планируемые ивенты напрямую на сайте.
                Поэтому все данные, в том числе прогрессия рейтинга игроков, обновляются в режиме реального времени.</p>
            <p>Конечно, все мы, занимающиеся KGD, уделяем максимальное внимание обеспечению надежного инструмента, но мы не можем гарантировать,
                что данные не содержат ошибок.
            Поэтому тем, кто обнаружит ошибки или недостатки, предлагается сообщить о них по адресу <strong>kyrgyzgofed@gmail.com.</strong></p>
        </div>

        <div class="contact_info">
            <h2 class="title mt-4 mb-0 pb-2">Контакты</h2>
            <p>Адрес: г.Бишкек, ул. Табышалиева 29</p>
            <p>Тел.: +996 (778) 381 785</p>
        </div>

        <div class="contact_form mt-4">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" style="background-color: #9400D3; color: white">
                Оставить отзыв или предложение
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Заполните эту форму и отправьте нам</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <form action="{% url 'webapp:feedback_to_admin' %}" method="post">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}

                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                            <p>{{ field }}</p>
                        {% endfor %}
                        <input type="submit" class="btn" style="background-color: #9400D3; color: white" value="Отправить">
                    </form>

                </div>
            </div>
        </div>

    </div>
{% endblock %}