{% extends 'base.html' %}
{% block content %}
    <div class="container">
    {% for field_errors in form.non_field_errors %}
        <div class="form-error text-center mt-3" style="color: red">{{ field_errors }}</div>
    {% endfor %}

    <form method = "post" enctype="multipart/form-data">
   {% csrf_token %}
        <div style="display: flex;flex-direction: column;align-items:center;margin-top: 15%;height: 200px">
        {% for field in form %}
        <div class="file-upload">

            <div>{{field}}</div>
            </div>
        {% endfor %}
    <button type="submit" style="width: 100px" class="btn btn-secondary mt-4">submit</button>

        </div>
</form>
    </div>

{% endblock %}