{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 " >
		<h2>Календарь</h2>
		<table class="table table-condensed">
            <thead style="color: white;background: #9400D3;">
                <tr>
                    <td><strong>Дата</strong>
                    <td><strong>Город</strong></td>
                    <td><strong>Событие</strong><a style="color: white;" class="ms-2" href="{% url 'webapp:event_create' %}"><i class="bi bi-plus-square"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
            {% for event in calendar %}
                <tr class="table-light">
                    <td>{{ event.event_date|date:"d.m.y" }}</td>
                    <td>{{ event.event_city }}</td>
                    <td class="text-break">{{ event.event_name }}
                        <a style="color: black" class="ms-2" href="{% url 'webapp:event_update' event.pk %}"><i class="bi bi-pencil-fill"></i></a>
                        <a style="color: black" class="ms-2" href="{% url 'webapp:event_delete' event.pk %}"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
        </table>
    </div>

</div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}