{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block src %}
    <link rel="stylesheet" href="{% static "css/adaptiveiframe.css" %}">
{% endblock %}

{% block content %}
    <div id="carousel-main" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in carousel %}
        <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for item in carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.photo.url }}" class="d-block w-100 h-50" alt="slide{{ forloop.counter }}">
            <div class="carousel-caption d-none d-md-block mb-4">
                <h1 class="p-1" style="background-color: rgba(211, 211, 211, 0.6)">{{ item.title }}</h1>
                <a style="color: white; text-decoration: none;" class="mt-2" href="{{ item.web_link }}">Узнать больше <i class="bi bi-chevron-double-right"></i></a>
                <br>
                {% if request.user.is_authenticated %}
                    <a style="color: white" href="{% url 'webapp:update_carousel' item.pk %}"><i class="bi bi-pencil-fill"></i></a>
                    <!-- Открывает модалку подтверждения -->
                    <a style="color: white" class="ms-3" href="#" data-bs-toggle="modal" data-bs-target="#delete_slide_Modal_{{ item.pk }}"><i
                                                    class="bi bi-trash3"></i></a>

                    <!-- Модалка подтверждения -->
                    <div class="modal fade" id="delete_slide_Modal_{{ item.pk }}" tabindex="-1"
                         aria-labelledby="delete_slide_ModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="delete_slide_ModalLabel" style="color: black;">Подтвердите действие</h3>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">Нет
                                    </button>
                                    <form method="POST" id="modal_form_link"
                                          action="{% url 'webapp:delete_carousel' item.pk %}">
                                        {% csrf_token %}<input type="submit" id="confirm_button"
                                                               class="btn btn-outline-secondary"
                                                               value="Да">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-main" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
    </button>
</div>


    <div class="mx-5 mt-5 mb-3">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <h3 class="title">Последние новости:</h3>
                {% for news in latest_news %}
                    <div class="border-bottom mb-4"></div>

                    <div class="news-col" style="margin-bottom: 5px; display:flex;">
                        {% if news.news_image %}
                            {% thumbnail news.news_image "400x400" as im %}
                                <img style="width: 20%; border: solid; border-color: grey; border-width: 1px; margin-right: 10px;"
                                     src="{{ im.url }}" alt="news_image">
                            {% endthumbnail %}
                        {% endif %}
                        {% if news.video_link %}
                            <div class="frame_blc">
                                <iframe width="400" height="200"
                                        src="{{ news.video_link }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        {% endif %}
                        <div style="flex: 1;">
                            <h5 class="news-title">{{ news.title|truncatechars:60 }}</h5>
                            <p>{{ news.text|truncatechars:200 }}</p>
                        </div>
                    </div>

                    <i>{{ news.created_at|date:"d E Y" }}</i>
                    <a class="btn btn-light ms-4" href="{{ news.get_absolute_url }}">Читать далее <i
                            class="bi bi-chevron-double-right"></i></a>
                    <div class="mb-4 mt-4"></div>
                {% endfor %}
                <div class="container border-top mt-4 mb-5">
                    <a class="btn btn-outline-secondary mt-4" href="{% url 'webapp:news_list' %}">Все новости <i
                            class="bi bi-chevron-double-right"></i></a>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-outline-secondary mt-4" href="{% url 'webapp:news_create' %}">Создать
                            новость</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h3 class="title">Календарь мероприятий:</h3>
                <table class="table table-condensed table-striped">
                    <thead class="table-heading">
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Город</th>
                        <th scope="col">Событие</th>
                        {% if request.user.is_authenticated %}
                            <th scope="col">
                                <a style="color: black;" class="ms-2" href="{% url 'webapp:event_create' %}">
                                    <i class="bi bi-plus-square"></i></a>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if calendar %}
                        {% for event in calendar %}
                            <tr class="table-light">
                                <td style="text-align: center;">{{ event.event_date|date:"d.m.y" }}</td>
                                <td style="text-align: center;">{{ event.event_city }}</td>
                                <td class="text-break" style="text-align: center;"><a style="color: black;"
                                                                                      href="{% url 'webapp:event_view' event.pk %}">{{ event.event_name }}</a>
                                </td>
                                {% if request.user.is_authenticated %}
                                    <td><a style="color: black" class="ms-2"
                                           href="{% url 'webapp:event_update' event.pk %}"><i
                                            class="bi bi-pencil-fill"></i></a>
                                        {% if request.user.is_authenticated %}
                                            <!-- Открывает модалку подтверждения -->
                                            <a style="color: black" class="ms-2 kgf_modal" href=""
                                               data-bs-toggle="modal"
                                               data-bs-target="#delete_event_Modal_{{ event.pk }}"><i
                                                    class="bi bi-trash3-fill"></i></a>

                                            <!-- Модалка подтверждения -->
                                            <div class="modal fade" id="delete_event_Modal_{{ event.pk }}" tabindex="-1"
                                                 aria-labelledby="delete_event_ModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="delete_event_ModalLabel">Вы
                                                                уверены, что хотите
                                                                удалить это событие?</h3>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary"
                                                                    data-bs-dismiss="modal">Нет
                                                            </button>
                                                            <form method="POST" id="modal_form_link"
                                                                  action="{% url 'webapp:event_delete' event.pk %}">
                                                                {% csrf_token %}<input type="submit" id="confirm_button"
                                                                                       class="btn btn-outline-secondary"
                                                                                       value="Да">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="table-light">
                            <td></td>
                            <td>Пока анонсов нет</td>
                            <td></td>
                            {% if request.user.is_authenticated %}
                            <td></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if position %}
        <div class="bg-light">
            <div class="container mt-3 mb-2 pt-3">
                <h3 class="title" style="margin-top: 50px; text-align: center">Топ-3 игроков Федерации Кыргызстана:</h3>
                <div class="card-group">
                    {% for element in position %}
                        <div class="card text-center card-player bg-light">
                            {% if element.player.avatar %}
                                {% thumbnail element.player.avatar "500x500" crop="center" as im %}
                                    <img class="img-main-player" src="{{ im.url }}" alt="avatar">
                                {% endthumbnail %}
                            {% else %}
                                <img class="img-main-player" src="{% static "images/no_image.jpg" %}"
                                     alt="no_pic_avatar">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title mb-2"
                                    style="font-weight: bold">{{ element.player.last_name }} {{ element.player.first_name }}</h5>
                                <p class="card-text border-top mt-4">Позиция в KGF: {{ element.position }}</p>
                                <a class="btn btn-outline-secondary" style="margin-bottom: 40px; margin-top: 15px"
                                   href="{% url "webapp:player_detail" element.player.pk %}" role="button">Подробнее</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container text-center mt-5 mb-5 ">
        <h3 class="title">Наши партнеры:</h3>
        <div class="row">
            {% for partner in partners %}
                <div class="col-6 col-sm-2 col-md-2 col-lg-1 mt-4 mb-4 mx-auto">
                    <a href="{{ partner.web_link }}">
                        {% thumbnail partner.logo "78x78" crop="center" as im %}
                            <img class="rounded-circle z-depth-0" style="opacity: 0.9;" src="{{ im.url }}"
                                 onmouseover="this.style.opacity='1';" onmouseout="this.style.opacity='0.9';">
                        {% endthumbnail %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}