{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/adaptiveiframe.css" %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if news_list %}
        <div class=" mt-4" style="text-align: center">
            <h2 class="title">Новости</h2>
        </div>
        <div class="container">
            {% for news in news_list %}
                <h3 class="title"><a class="text-secondary" href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
                {% if news.video_link %}
                    <div class="frame_blc">
                    <iframe width="400" height="200"
                    src="{{ news.video_link }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                    </div>
                {% endif %}
                <p>{% if request.user.is_authenticated %}{{ news.author.username }}
                    / {% endif %}{{ news.created_at|date:"d F Y H:i" }}</p>
                <hr>
            {% endfor %}
        </div>
        <br/>
        {% else %}
        <div class=" mt-4" style="text-align: center">
            <h3 class="title">Нет новостей для отображения</h3>
        </div>
        {% endif %}
    </div>

{% endblock %}