{% extends 'base.html' %}
{% load static %}


{% block nav %}
{% endblock %}


{% block content %}
    <div class="container">
    <h3 class="text-center title">Новости</h3>
    <div>
        {% for news in news_list %}
            <h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>
            <p>{% if request.user.is_authenticated %}{{ news.author.username }}
                / {% endif %}{{ news.created_at|date:"d F Y H:i" }}</p>
            <hr>
        {% endfor %}
    </div>
    </div>

{% endblock %}