@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1000px;
}

.header {
    background: #9400D3;
}

.nav-link {
    font-size: 14px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    opacity: 1;
}

.carousel-indicators .active {
    background: white;
    width: 8px;
    height: 8px;
    margin-top: 2px;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
}

.title {
    font-size: 30px;
    font-weight: 800;
    color: #9400D3;
    padding-bottom: 20px;
}

.news-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.table-heading {
    color: white;
    background: #b36aff;
    font-weight: bold;
    text-align: center;
}

.img-main-player {
    border-radius: 170px;
    width: 60%;
    margin-bottom: 20px;
}

.card-player {
    border: none;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background: transparent;
}

.file-upload input {
    width: 100%;
}

.file-upload input[type=file]::file-selector-button {
    border: none;
    width: 100%;
    height: 60px;
    background: #9400D3;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload input[type=file]::file-selector-button:hover {
    background: #7a00ae;
}

.article-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.footer-list-group-item {
    background: transparent;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.accordion-item {
    --bs-accordion-border-color: white;
    --accordion-button-focus-box-shadow: white;
    --bs-accordion-active-bg: white;
}

.accordion-style {
    --bs-accordion-border-color: white;
    --accordion-button-focus-box-shadow: white;
    --bs-accordion-active-bg: white;
    --bs-accordion-color: white;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-active-color: dark;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #ffffff;
    --accordion-icon-active-color: #ffffff;
}

.accordion-title {
    font-weight: bold;
}

.card{
    margin-bottom: 15px;
    border-width: thin;
    border-color: #9400D3;
    border-radius: 20px;
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-family: sans-serif;
    overflow: hidden;
    transition: all .3s ease-out;
    margin-top: 20px;
}

.icon:hover{
    width: 130px;
    justify-content: space-evenly;
    color: #fff;
}

.icon:hover i{
    color: #fff;
}

.icon .fa-facebook-f{
    color: #1A6ED8;
}

.fb a {
    text-decoration: none;
    color: inherit;
}

.fb:hover{
    background: #1A6ED8;
}

.icon .fa-instagram{
    color: #C13584;
}

.inst a {
    text-decoration: none;
    color: inherit;
}

.inst:hover{
    background: #E1306C;
}

.icon .fa-youtube{
    color: #FE0000;
}

.yt a {
    text-decoration: none;
    color: inherit;
}

.yt:hover{
    background: #FE0000;
}

.form-error {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    min-height: 40px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    /*text-transform: uppercase;*/
  }

  table td:last-child {
    border-bottom: 0;
  }
}
