@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #9400D3;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.file-upload input {
    width: 100%;
}

.file-upload input[type=file]::file-selector-button {
    border: none;
    width: 100%;
    height: 60px;
    background: #9400D3;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload input[type=file]::file-selector-button:hover {
    background: #7a00ae;
}

.article-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.article {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #7a00ae;
  box-sizing: border-box;
}

.article-link {
  color: inherit;
  text-decoration: none;
}