{% extends 'base.html' %}

{% block content %}
    <div class="text-center mt-3">
        <form method="post" style="display: flex; flex-direction: column; align-items: center;">
            {% csrf_token %}
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px;">
                <label for="{{ form.old_password.id_for_label }}" style="margin-right: 20px;">Старый пароль:</label>
                {{ form.old_password }}
            </div>
            {% if form.errors.old_password %}
                <div class="text-danger" style="margin-left: 40px;">{{ form.errors.old_password }}</div>
            {% endif %}
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; margin-left: 5px">
                <label for="{{ form.new_password1.id_for_label }}" style="margin-right: 20px;">Новый пароль:</label>
                {{ form.new_password1 }}
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; margin-right: 84px">
                <label for="{{ form.new_password2.id_for_label }}" style="margin-right: 20px;">Повторите новый
                    пароль:</label>
                {{ form.new_password2 }}
            </div>
            {% if form.errors.new_password2 %}
                <div class="text-danger">{{ form.errors.new_password2 }}</div>
            {% endif %}
            <button class="m-4 btn btn-light" type="submit">Изменить пароль</button>
        </form>
    </div>
{% endblock %}
