{% extends 'base.html' %}

{% block content %}
    <h2 class="title text-center m-2">Введите новый пароль</h2>
    <div class="text-center">
        <form method="post" style="display: flex; flex-direction: column; align-items: center;">
            {% csrf_token %}
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px;">
                <label for="{{ form.new_password1.id_for_label }}" style="margin-right: 40px;">Новый пароль:</label>
                {{ form.new_password1 }}
            </div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <label for="{{ form.new_password2.id_for_label }}" style="margin-right: 7px;">Повторите пароль:</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="m-4 btn btn-light">Сохранить</button>
        </form>
    </div>
{% endblock %}