{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container mb-4 mt-4">
        <div>
            <h2 class="title">Мероприятие: {{ event.event_name }}</h2>
            <p>Город: {{ event.event_city }}</p>
            <p>Дата: {{ event.event_date }}</p>
            <p>{{ event.text }}</p>
             <a href="{% url "webapp:ParticipantCreate" event.pk %}" class="btn"
                style="background-color: #9400D3; color: white" id="slide_stop_button">Записаться</a>
             &nbsp;&nbsp;<a href="{% url "webapp:CalendarPlayerList" event.pk %}" class="btn"
                style="background-color: #9400D3; color: white" id="slide_stop_button">Список зарегистрировавшихся</a>
        </div>
    </div>
{% endblock %}