{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static "css/li_hover.css" %}">
{% endblock %}
{% block content %}
<div id="cont-1" class="container">
    <br/>
    <input type="checkbox" onchange="change_tamp()" id="check_butt"><label>&nbsp;&nbsp;I'm already in the database</label>
    <div id="i_have">
    <br/>
      {{ forms.search_player }}
    <ul id="box" style="list-style-type: none;max-height: 200px;overflow-y: scroll;width: 400px;" class="list-group">
             {% for data in player %}

            {% endfor %}
    </ul>
    </div>
    <form action="" id="actionpost" method="post">
        {% include "partial/form.html" with button_text="Записаться" %}
        <br/>
        <br/>
    </form>
</div>
    <div class="container" id="show_date">

    </div>

    <br/>
{% endblock %}
{% block src %}
    <script>
       const base_url = '/api/v1/player/'
       async function makeRequest(url, method) {
        let response = await fetch(url, method);
        if (response.ok) {
            {#console.log('ok')#}
            return await response.json();
        } else {
            let error = new Error(response.statusText);
            console.log(error)
            error.response = response;
            throw error;
        }
    }

    const input = document.getElementById('search_last_name')
    let filteredArr = []
    let customtimeout
    let curva
    async function req(){
        curva = await makeRequest(base_url);
    }
    req()
         customtimeout = setTimeout(function() { input.addEventListener('keyup', (e)=>{
            clearTimeout(customtimeout)
            box.innerHTML = ''
            filteredArr = curva.filter(info=> info['last_name'].includes(e.target.value))
            {#console.log(filteredArr)#}
            if (filteredArr.length > 0){
                filteredArr.map(item=>{
                    function show_data(obj) {
                        let name_id = document.getElementById('id_name')
                        let surname_id = document.getElementById('id_surname')
                        let id_rank = document.getElementById('id_rank')
                        name_id.value = obj['first_name']
                        surname_id.value = obj['last_name']
                        id_rank.value = obj['current_rank']
                     }
                    const listItem = document.createElement('li');
                    listItem.addEventListener('click', ()=>show_data(item));
                    listItem.setAttribute("class", "list-group-item");
                    listItem.innerText = `${item['last_name']} ${item['first_name']} ${item['current_rank']}`;
                    box.appendChild(listItem);
                })
            } else {
                box.innerHTML = "<b>No results found...</b>"
            }}, 1000);
        })

        function change_tamp() {
        let chxbox = document.getElementById('check_butt');
          if (chxbox.checked) {
              let name_id = document.getElementById('id_name')
              let surname_id = document.getElementById('id_surname')
              let id_rank = document.getElementById('id_rank')
              let input_search = document.getElementById('search_last_name')
              input_search.type = 'text'
              name_id.type = 'hidden'
              surname_id.type = 'hidden'
              id_rank.type = 'hidden'
          }
          else {
                let input_search = document.getElementById('search_last_name')
                let box = document.getElementById('box')
                let name_id = document.getElementById('id_name')
                let surname_id = document.getElementById('id_surname')
                let id_rank = document.getElementById('id_rank')
                name_id.type = 'text'
                surname_id.type = 'text'
                id_rank.type = 'text'
                box.innerHTML = ''
                input_search.type = 'hidden'
          }
        }

        let formss = document.getElementById('actionpost');
        for (let i = 0; i < 4; i++) {
            let child = formss.getElementsByTagName("p")[i];
            formss.removeChild(child);
        }

        {#function show_date(obj) {#}
        {#    console.log(obj)#}
        {#    let show_date = document.getElementById('show_date')#}
        {#    let obj_2 = obj.innerText#}
        {#    let clean_date = obj_2.split(" ")#}
        {#    show_date.innerHTML =  `<h1 style="font-size: 40px">${clean_date[0]}</h1>#}
        {#    <label>Surname: ${clean_date[1]}</label><br/><label>Patronymic: ${clean_date[2]}</label><br/>#}
        {#    <label>GoLevel: ${clean_date[3]}</label>`#}
       // }

    </script>
{% endblock %}