{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
<br/>
    <form action="" method="post">
        {% include "partial/form.html" with button_text="Записаться" %}
        <br/>
        <br/>
    </form>
                <form style="display: flex;justify-content: center;text-align: center;" action="" method="GET">
        {{ forms.search_player }}
        <input type="submit" class="btn ms-1" style="background-color: #9400D3; color: white" value="Поиск">
                    </form>
        <div id="box">
            {% for players in player %}
            <b>{{ players.last_name }}</b><br/>
        {% endfor %}
        </div>
</div>
{% endblock %}
{% block src %}
    <script>
        const data = '{{qs_json}}'
        console.log(data)
        const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
        console.log(rdata)
        const input = document.getElementById('search_last_name')
        console.log(input)
        let filteredArr = []

        input.addEventListener('keyup', (e)=>{
            box.innerHTML = ''
            filteredArr = rdata.filter(info=> info['last_name'].includes(e.target.value))
            console.log(filteredArr)
            if (filteredArr.length > 0){
                filteredArr.map(item=>{
                    box.innerHTML += `<b>${item['last_name']}</b><br/>`
                })
            } else {
                box.innerHTML = "<b>No results found...</b>"
            }
        })
    </script>
{% endblock %}