{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <br/>
    <br/>
    <div class="container">
        <h3 class="title" style="font-size: 30px">Список зарегистрированных игроков на
            турнир {{ event.event_name }}</h3>
        <br/>
        <table class="table adaptive-t">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Город</th>
                <th scope="col">Рейтинг</th>
                {% if request.user.is_authenticated %}
                    <th scope="col">Номер</th>
                {% endif %}
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for players in  event.participant.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td data-label="Фамилия">{{ players.surname }}</td>
                    <td data-label="Имя">{{ players.name }}</td>
                    <td data-label="Город">{{ players.city }}</td>
                    <td data-label="Ранг">{{ players.rank }}</td>
                    {% if request.user.is_authenticated %}
                        <td data-label="Номер Телефона">{{ players.phonenumber }}</td>
                    {% endif %}
                    <td id="status-{{ players.pk }}" data-label="Статус">{{ players.status }}</td>
                    {% if request.user.is_authenticated %}
                        <td>
                            <button class="btn btn-outline-secondary" id="butt-{{ players.pk }}"
                                    data-id="{{ players.pk }}" onclick="ChangeConf(event)"
                                    data-index-link="{% url "webapp:status_change" players.pk %}">
                                {% if players.status == "Confirmed" %}Not confirmed{% else %}
                                    Confirmed{% endif %}</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary kgf_modal" data-bs-toggle="modal"
                                    data-bs-target="#myModal">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                            <!-- Модалка подтверждения -->
                            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="myModalLabel">Вы точно хотите удалить этого
                                                игрока?</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">Нет
                                            </button>
                                            <form method="POST" id="modal_form_link"
                                                  action="{% url 'webapp:delete_player_from_event' players.pk %}">
                                                {% csrf_token %}<input type="submit" id="confirm_button"
                                                                       class="btn btn-outline-secondary"
                                                                       value="Да">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" href={% url "webapp:update_participant" players.pk %}><i class="bi bi-pencil-fill"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <br>
        <div class="contact_form">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" style="background-color: #9400D3; color: white">
                Редактировать данные для регистрации
            </button>

            <div class="offcanvas offcanvas-end {% if offcanvas %}show{% endif %}" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Если при регистрации на данный ивент/турнир вы
                        допустили ошибку, то свяжитесь с нами заполнив данную форму. В описании детально опишите где
                        была допущена ошибка и как надо ее исправить.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <form action="" method="post">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}

                        {% for field in form %}
                            <p>{{ field }}</p>
                            {% for error in field.errors %}
                                <p class="form-error text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <input type="submit" class="btn" style="background-color: #9400D3; color: white"
                               value="Отправить">
                    </form>

                </div>
            </div>
            {% if offcanvas %}
                <div class="offcanvas-backdrop fade show"></div>
            {% endif %}

        </div>

    </div>
    <br/>
    <br/>
{% endblock %}
{% block src %}
    <script src="{% static "js/confirm.js" %}"></script>
{% endblock %}
