{% extends 'base.html' %}
{% load static %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            {% if player.avatar %}
                <img style="width: 25%; border: solid; border-color: grey; border-width: 1px" src="{{ player.avatar.url }}" alt="avatar">
            {% else %}
                <img style="width: 25%; border: solid; border-color: grey; border-width: 1px;" src="{% static "images/11316.jpg" %}" alt="no_pic_avatar">
            {% endif %}
            <div>
                <p>Фамилия: {{ player.last_name }}</p> <p>Имя: {{ player.first_name }}</p> <p>Возраст: {{ player.age }}</p>
                {% for element in player.get_position_in_kgf %}
                    {% if player.pk == element.player %}
                        <p>KGF placement: {{ element.position }}</p>
                    {% endif %}
                {% endfor %}
                   <div class="btn-group">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if player.get_total_clubs >= 1 %}Клубы, Игрок состоит в {{ player.get_total_clubs }}
                            {% if player.get_total_clubs == 1 %}клубе.{% else %} клубах.{% endif %}
                          {% else %}
                          Клубы, Игрок не состоит в клубах.
                          {% endif %}
                      </button>
                      <ul class="dropdown-menu">
                          {% for club in player.clubs.all %}
                            <li><a class="dropdown-item" href="#">{{ club.name }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
        </div>
    </div>
</div>
    <br/>
    <hr>
    <div class="container">
    <h2>Список туниров в которых играл игрок:</h2>
    <br/>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Турнир</th>
      <th scope="col">Город</th>
        <th scope="col">Размер доски</th>
        <th scope="col">Раунды</th>
        <th scope="col">Дата</th>
        <th scope="col">Класс</th>
    </tr>
  </thead>
  <tbody>
    {% for tournament in player.tournaments.all %}
    <tr>
      <td><a href='{% url "webapp:tournament_detail" tournament.pk %}'>{{ tournament.name }}</a></td>
      <td>{{ tournament.city }}</td>
      <td>{{ tournament.board_size }}</td>
      <td>{{ tournament.rounds }}</td>
      <td>{{ tournament.date }}</td>
      <td>{{ tournament.tournament_class }}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}
