{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/style_share.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class=" mt-4">
            <h2 class="title">Страница профиля игрокa:</h2>
        </div>
        <div class="row mb-4">
            <div class="col-5">
                {% if player.avatar %}
                    <img style="width: 25%; border: solid; border-color: grey; border-width: 1px"
                         src="{{ player.avatar.url }}" alt="avatar">
                {% else %}
                    <img style="width: 75%; border: solid; border-color: grey; border-width: 1px;"
                         src="{% static "images/11316.jpg" %}" alt="no_pic_avatar">
                {% endif %}
                <a class="btn btn-light mt-2" href="{% url "webapp:update_player" player.pk %}">Редактировать
                    профиль</a>
                <button type="button" class="btn btn-light mt-2 kgf_modal" data-bs-toggle="modal"
                        data-bs-target="#myModal">
                    Удалить профиль
                </button>

                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="myModalLabel">Вы точно хотите удалить игрока
                                    {{ player.first_name }}?</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Нет
                                </button>
                                <form method="POST" id="modal_form_link"
                                      action="{% url 'webapp:delete_player' player.pk %}">
                                    {% csrf_token %}<input type="submit" id="confirm_button" class="btn btn-light"
                                                           value="Да">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <p style="font-size: 24px"><span style="font-weight: bold">Last name:</span> {{ player.last_name }}
                    </p>
                    <p style="font-size: 24px"><span
                            style="font-weight: bold">First name:</span> {{ player.first_name }}</p>
                    <p style="font-size: 20px">Country: </p>
                </div>
                <div id="flag">
                    <p id="country_code">{{ player.country.country_code }}</p>
                </div>

            </div>

        </div>

        {% if player.birth_date %}
            <p>Age: {{ player.get_age_date }} лет</p>
        {% else %}
            <p>Age: N/A</p>
        {% endif %}
        {% for element in position %}
            {% if player.pk == element.player %}
                <p>KGF placement: {{ element.position }}</p>
            {% endif %}
        {% endfor %}
        {% for element in rank %}
            {% if player.pk == element.player %}
                <p>Rank: {{ element.GoLevel }}</p>
            {% endif %}
        {% endfor %}
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: #9400D3; color: white"
                    id="slide_start_button">
                {% if player.get_total_clubs >= 1 %}Clubs: member of {{ player.get_total_clubs }}
                    {% if player.get_total_clubs == 1 %} club {% else %} clubs {% endif %}
                {% else %}
                    Clubs: Not a member
                {% endif %}
            </button>
            <ul class="dropdown-menu">
                {% for club in player.clubs.all %}
                    <li><a class="dropdown-item" href="#"
                           style="background-color: #9400D3; color: white">{{ club.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url "webapp:competitor_search" %}" class="btn ms-1"
           style="background-color: #9400D3; color: white" id="slide_stop_button">Opponents Search</a>
        <a href="{% url "webapp:recommendation_add" player.pk %}" class="btn ms-1"
           style="background-color: #9400D3; color: white" id="slide_stop_button">Add Recommendation</a>
        <div>
            <button class="share-btn" id="shareBtn">
                <i style="z-index: 5" class="fa-solid fa-arrow-up-right-from-square share-icon"></i>
                <span class="social-icons">
                        <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=http://127.0.0.1:8000/player_detail/{{ player.pk }}">
                            <i style="color: #3b5998" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://api.whatsapp.com/send/?text=http://127.0.0.1:8000/player_detail/{{ player.pk }}">
                            <i style="color: #40C351" class="fa-brands fa-whatsapp"></i></a>
                         <a href="http://vkontakte.ru/share.php?url=http://127.0.0.1:8000/player_detail/{{ player.pk }}">
                             <i style="color:#4C75A3;" class="fa-brands fa-vk"></i></a>
                  </span>
            </button>
            <a style="padding-left: 12px" onclick="copyfunc()"><img
                    style="width: 37px;"
                    src="{% static 'images/copy.png' %}"></a>
            <input readonly="readonly" style="width: 20rem; border-radius: 5px; border-color: #9400D3"
                   type="text" value="http://127.0.0.1:8000/player_detail/{{ player.pk }}" id="myInput">
        </div>

    </div>

    <div class="container mt-5 mb-5">
        <h3 class="title">Tournaments:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tournament</th>
                <th scope="col">City</th>
                <th scope="col">Board size</th>
                <th scope="col">Rounds</th>
                <th scope="col">Date</th>
                <th scope="col">Class</th>
                <th scope="col">Rank</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in player.tournaments.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a style="color: black"
                           href='{% url "webapp:tournament_detail" tournament.pk %}'>{{ tournament.name }}</a></td>
                    <td>{{ tournament.city }}</td>
                    <td>{{ tournament.board_size }}</td>
                    <td>{{ tournament.rounds }}</td>
                    <td>{{ tournament.date }}</td>
                    <td>{{ tournament.tournament_class }}</td>
                    {% for person in tournament.playerintournament_set.all %}
                        {% if player.pk == person.player_id %}
                            <td>{{ person.GoLevel }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if player.player.all %}
        <div class="container mt-5 mb-5">
            <h3 class="title">Recommendations:</h3>
            {% for recommendation in player.player.all|dictsortreversed:"created_at" %}
                <div class="card">
                    <div class="card-body">
                        <div style="text-align: left;">
                            {{ recommendation.text }}
                        </div>
                        <div style="text-align: right; padding-right: 40px;">
                            <a href="{% url 'accounts:detail' recommendation.author.pk %}"
                               class="link-dark">{{ recommendation.author.first_name }} {{ recommendation.author.last_name }}</a>
                            &nbsp;
                            {% if perms.webapp.change_recommendation or recommendation.author == request.user %}
                                <a style="color: black"
                                   href="{% url 'webapp:recommendation_update' recommendation.pk %}"><i
                                        class="bi bi-pencil-fill"></i></a>
                            {% endif %}

                            {% if perms.webapp.delete_recommendation or recommendation.author == request.user %}
                                <!-- Открывает модалку подтверждения -->
                                <a style="color: black" class="ms-2 kgf_modal" href="" data-bs-toggle="modal"
                                   data-bs-target="#myModal_{{ recommendation.pk }}" type="button"><i
                                        class="bi bi-trash3-fill"></i></a>

                                <!-- Модалка подтверждения -->
                                <div class="modal fade" id="myModal_{{ recommendation.pk }}" tabindex="-1"
                                     aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title fs-5" style="text-align: center" id="myModalLabel">Do you want to delete
                                                    this recommendation?</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-dismiss="modal">No
                                                </button>
                                                <form method="POST" id="modal_form_link"
                                                      action="{% url 'webapp:recommendation_delete' recommendation.pk %}">
                                                    {% csrf_token %}<input type="submit" id="confirm_button"
                                                                           class="btn btn-danger"
                                                                           value="Yes">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block src %}
    <script src="{% static "js/open_button.js" %}"></script>
    <script src="{% static "js/copy_input.js" %}"></script>
    <script src="{% static "js/country.js" %}"></script>
{% endblock %}
